@media(max-width:768px){
.menu-btn{
display:block;
}
.sidebar{
position:fixed;
top:0;
left:-260px;
width:250px;
height:100%;
z-index:1000;
background:white;
box-shadow:3px 0 15px rgba(0,0,0,.2);
}
.sidebar.show{
left:0;
}
.container{
flex-direction:column;
}
}
.toolbar{
flex-direction:column;
}
.toolbar input{
width:100%;
}
.toolbar select{
width:100%;
}
.coach-card{
flex-direction:column;
text-align:center;
}
.coach-card img{
width:180px;
height:180px;
}
.hero{
padding:40px 20px;
text-align:center;
}
.hero h1{
font-size:30px;
}
.hero-buttons{
display:flex;
flex-direction:column;
gap:10px;
}
.hero-buttons button{
width:100%;
}
.stats{
grid-template-columns:1fr 1fr;
}
.top-row{
flex-direction:column;
gap:10px;
}
}
