@media(max-width:768px){
.menu-btn{
display:block;
}
.sidebar{
position:fixed;
top:0;
left:-260px;
width:250px;
height:100%;
z-index:1000;
background:white;
box-shadow:3px 0 15px rgba(0,0,0,.2);
}
.sidebar.show{
left:0;
}
.container{
flex-direction:column;
}
}
.toolbar{
flex-direction:column;
}
.toolbar input{
width:100%;
}
.toolbar select{
width:100%;
}
}
